@model TechTest.Models.AverageWordsInSongSearchViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Tech Test - Ozgur Tezel</h3>
        <div class="alert alert-info">
            <p><i class="glyphicon glyphicon-info-sign"></i> This program will produce the average number of words in given artist's songs </p>
        </div>
    </div>
</div>

<div class="row">
    @Html.ValidationSummary()

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(x => x.ArtistNameToSearch)
                @Html.TextBoxFor(x => x.ArtistNameToSearch, new { @class = "form-control" , @placeholder ="Please enter the artist name" })
            </div>
            <button type="submit" class="btn btn-primary">Calculate Average words in artists songs</button>
        </div>
    }
</div>